// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


label {
  font-weight: bold;
  margin: 0;
}

.btn {
  border-radius: 0;
}

.btn-primary,
.btn-danger {
  color: #FFF !important;
}

.page-wrap {
  min-height: calc(100vh - 104px);
}

.tabela-animais,
.tabela-fretes {
  max-height: 262px;
  overflow-y: auto;
}

.form-control {
  height: 32px;
  border-radius: 0;
}

select.form-control {
  padding: 4px;
}

.required {
  color: #FF0000;
  font-weight: bold;
}

.header {
  background: #DDD;
  box-shadow: 0 0 3px #999;
}

.header nav {
  width: 100%;
}

footer {
  background: #F8F9FA;
  font-weight: bold;
  padding: 5px;
  box-shadow: 0 0 3px #555;
  text-shadow: 1px 0 2px #999;
  color: black;
}

.message {
  position: fixed;
  right: 6px;
  top: 63px;
  z-index: 9999;
}

.table-responsive {
  min-height: 262px;
}
